
@{
    ViewData["Title"] = "Contactanos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Mederi Centro Médico</title>
    <!-- favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="images/fav.png">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/bootstrap.min.css">

    <!-- owlcarousel min css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/owl.carousel.min.css">
    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/slick.css">
    <!-- slick-theme css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/slick-theme.css">
    <!-- flaticon css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/fonts/flaticon.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/font-awesome.min.css">
    <!-- rsmenu CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rsmenu-main.css">
    <!-- rsmenu transitions CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rsmenu-transitions.css">
    <!-- offcanvas CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/off-canvas.css">
    <!-- rsanimations CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rsanimations.css">
    <!-- spaceing css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rs-spaceing.css">
    <!-- Style CSS -->
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/responsive.css">
    <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAh4cWQa6EeqeEanSE6Xod3v6b2X5ofIwg'></script>

</head>
<body>
    <div class="rs-contact-part pt-122 pb-130 md-pt-72 md-pb-80">
        <div class="container">
            <div class="content-part text-center">
                <div class="sec-title mb-50">
                    <h2 class="title pb-15">Comunícate con Nosotros</h2>
                </div>
                <div class="rs-item-part">
                    <div class="row">
                        <div class="col-md-4 col-12 sm-mb-30">
                            <div class="item-address-part">
                                <div class="icon-part">
                                    <i class="flaticon-phone"></i>
                                </div>
                                <div class="address-text">
                                    <h3 class="contact-title">Llámanos: </h3>
                                    <span>098 0552 898</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 sm-mb-30">
                            <div class="item-address-part">
                                <div class="icon-part">
                                    <i class="flaticon-email"></i>
                                </div>
                                <div class="address-text">
                                    <h3 class="contact-title">Escríbenos</h3>
                                    <a href="mailto:gerencia@saludmederi.com">gerencia@saludmederi.com</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="item-address-part">
                                <div class="icon-part">
                                    <i class="flaticon-location"></i>
                                </div>
                                <div class="address-text">
                                    <h3 class="contact-title">Estamos Ubicados</h3>
                                    <span>Jorge Rodríguez y Amazonas.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="sec-title mb-50 text-center">
                    <div id="wufoo-z11d94w41xx0pca"> Fill out my <a href="https://centromedicomederi.wufoo.com/forms/z11d94w41xx0pca">online form</a>. </div>
                    <script type="text/javascript">var z11d94w41xx0pca; (function (d, t) { var s = d.createElement(t), options = { 'userName': 'centromedicomederi', 'formHash': 'z11d94w41xx0pca', 'autoResize': true, 'height': '443', 'async': true, 'host': 'wufoo.com', 'header': 'show', 'ssl': true }; s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function () { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { z11d94w41xx0pca = new WufooForm(); z11d94w41xx0pca.initialize(options); z11d94w41xx0pca.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script');</script>
                </div>
                <div class="sec-title mb-50 text-center">
                    <iframe src="https://snazzymaps.com/embed/264662" width="100%" height="600px" style="border:none;"></iframe>
                </div>
            </div>
        </div>
    </div>


    <!--rs-contact-part end-->
    <!--rs-map-part start-->
    <!--rs-map-part start-->
    <!-- Scrool to Top Start -->
    <div id="scrollUp">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- Scrool to Top End -->
    <!-- Search Modal Start -->
    <div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="flaticon-cross"></span>
        </button>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="search-block clearfix">
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="Search Here.." type="text">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Modal End -->
    <!-- modernizr js -->
    <script src="~/lib/bootstrap_mederi/js/modernizr-2.8.3.min.js"></script>
    <!-- jquery latest version -->
    <script src="~/lib/bootstrap_mederi/js/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap_mederi/js/bootstrap.min.js"></script>
    <!-- wow js -->
    <script src="~/lib/bootstrap_mederi/js/wow.min.js"></script>
    <!-- rsmenu js -->
    <script src="~/lib/bootstrap_mederi/js/rsmenu-main.js"></script>
    <!---owlcarousel.min.js-->
    <script src="~/lib/bootstrap_mederi/js/owl.carousel.min.js"></script>
    <!-- counter top js -->
    <script src="~/lib/bootstrap_mederi/js/jquery.counterup.min.js"></script>
    <script src="~/lib/bootstrap_mederi/js/waypoints.min.js"></script>
    <!-- slick.min.js -->
    <script src="~/lib/bootstrap_mederi/js/slick.min.js"></script>
    <!-- contact form js -->
    <script src="~/lib/bootstrap_mederi/js/contact.form.js"></script>
    <!-- main js -->
    <script src="~/lib/bootstrap_mederi/js/main.js"></script>
</body>
</html>

