<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Mederi Centro Médico</title>
    <!-- favicon -->
    <link rel="apple-touch-icon" href="~/lib/bootstrap_mederi/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/lib/bootstrap_mederi/images/fav.png">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/bootstrap.min.css">
    <!-- owlcarousel min css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/owl.carousel.min.css">
    <!--slick css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/slick.css">
    <!--slick-theme css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/slick-theme.css">
    <!-- flaticon css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/fonts/flaticon.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/font-awesome.min.css">
    <!-- rsmenu CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rsmenu-main.css">
    <!-- rsmenu transitions CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rsmenu-transitions.css">
    <!-- magnific-popup CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/magnific-popup.css">
    <!-- offcanvas CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/off-canvas.css">
    <!-- rsanimations CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rsanimations.css">
    <!-- spaceing css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rs-spaceing.css">
    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/responsive.css">
</head>
<body>
    <!--breadcrumbs-inner-part start-->
    <!--rs-expertise-part start-->
    <div class="rs-slider home4slider">
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="flase" data-autoplay-timeout="7000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="1" data-md-device-nav="false" data-md-device-dots="false">
            <div class="item active">
                <div class="single-slide slide1">
                    <div class="container">
                        <div class="desc-part">
                            <h2 class="ensures pb-15 wow fadeInUp" data-wow-delay=".3s">Nos aseguramos</h2>
                            <h3 class="medical pb-20 wow fadeInUp" data-wow-delay=".3s">de brindar una atención de calidad</h3>
                            <div class="icon-part wow fadeInUp" data-wow-delay=".6s">
                                <i class="flaticon-location"></i>
                                <span>
                                    Jorge Rodríguez & Amazonas, Coca - Ecuador
                                </span>
                            </div>
                            <div class="btn-part wow fadeInUp" data-wow-delay=".9s">
                                <a class="readon" href="/home/contactanos">Encuéntranos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="item">
                    <div class="single-slide slide2">
                        <div class="container">
                            <div class="desc-part">
                                <h2 class="ensures pb-15 wow fadeInUp" data-wow-delay=".3s">Doctores Expertos</h2>
                                <h3 class="medical pb-20 wow fadeInUp" data-wow-delay=".3s">
                                    Siempre listos para ayudar
                                </h3>
                                <div class="btn-part wow fadeInUp" data-wow-delay=".9s">
                                    <a class="readon" href="/home/contactanos">Reservar Ahora</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="rs-icon-slider-part part3 style2">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-8 md-mb-30">
                    <div class="rs-services-wrap">
                        <div class="serviecs-item-part">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/home-7/icon/h7-1.png" alt="">
                            </div>
                            <div class="services-desc">
                                <h3 class="title-part">
                                    <a href="/home/quienessomos">Quiénes Somos</a>
                                </h3>
                                <p class="dese-part">
                                    Somos un Centro Médico de Especialidades con doctores altamente calificados
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 md-mb-30">
                    <div class="rs-services-wrap">
                        <div class="serviecs-item-part">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/home-7/icon/h7-2.png" alt="">
                            </div>
                            <div class="services-desc">
                                <h3 class="title-part">
                                    <a href="/home/servicios">Servicios</a>
                                </h3>
                                <p class="dese-part">
                                    Contamos con las especialidades
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    <!--rs-expertise-part end-->
    <!--rs-counter-part start-->
    <div class="rs-partner-part part1">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 md-mb-30">
                    <div class="rs-counter-list text-center">
                        <div class="icon-part">
                            <img src="~/lib/bootstrap_mederi/images/counter/2.png" alt="" >
                        </div>
                        <div class="counter-top">
                            <h3 class="counter-text white-color">Medicina General</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 xs-mb-30">
                    <div class="rs-counter-list text-center no-border">
                        <div class="icon-part">
                            <img src="~/lib/bootstrap_mederi/images/counter/3.png" alt="">
                        </div>
                        <div class="counter-top">
                            <h3 class="counter-text white-color">Doctores Expertos</h3>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="rs-counter-list text-center no-border">
                        <div class="icon-part">
                            <img src="~/lib/bootstrap_mederi/images/counter/4.png" alt="">
                        </div>
                        <div class="counter-top">
                            <h3 class="counter-text white-color">Especialidades</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--rs-counter-part end-->
    <!--rs-our-qualified-doctor end-->
            <div class="rs-our-qualified-doctor pt-120 pb-100 md-pt-72 md-pb-50">
                <div class="container">
                    <div class="sec-title pb-20 text-center md-pb-0">
                        <h2 class="title pb-15">Nuestros Médicos</h2>
                        <div class="desc">
                            Profesionales altamente calificados que realizan su trabajo con excelencia y dedicación pensando siempre en el bienestar del paciente
                        </div>
                    </div>
                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="4" data-margin="30" data-autoplay="true" data-autoplay-timeout="7000" data-smart-speed="800" data-dots="false" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="3" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="4" data-md-device-nav="true" data-md-device-dots="false">

                        <div class="item">
                            <div class="team-inner">

                                <div class="normal-text text-center">
                                    <span class="person-name"><a href="doctor-single.html">Dr. Luis Salas</a></span>
                                    <span class="designation">MÉDICO OCUPACIONAL</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-inner">

                                <div class="normal-text text-center">
                                    <span class="person-name"><a href="doctor-single.html">Dra. Yelena López</a></span>
                                    <span class="designation">OFTALMÓLOGA</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-inner">

                                <div class="normal-text text-center">
                                    <span class="person-name"><a href="doctor-single.html">Dr. Carlos Intriago</a></span>
                                    <span class="designation">CARDIÓLOGO</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-inner">

                                <div class="normal-text text-center">
                                    <span class="person-name"><a href="doctor-single.html">Dr. Luis Duche </a></span>
                                    <span class="designation">IMAGENÓLOGO</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-inner">

                                <div class="normal-text text-center">
                                    <span class="person-name"><a href="doctor-single.html">Dr. Carlos Bohórquez</a></span>
                                    <span class="designation">MÉDICO GINECÓLOGO</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-inner">

                                <div class="normal-text text-center">
                                    <span class="person-name"><a href="doctor-single.html">Dra. Gabriela Inga</a></span>
                                    <span class="designation">MÉDICO GENERAL</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      
    <!--rs-our-qualified-doctor end-->
    <!--rs-latest-part3 start-->
    <div class="rs-quality-services-part pt-104 pb-104 bg8 md-pt-125 md-pb-80">
        <div class="container">
            <div class="sec-title pb-20 text-center md-pb-0">
                <h2 class="title pb-15">Servicios</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h2-5.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title "><a href="/home/servicios">Servicios de Apoyo </a></h3>
                                <p class="desc-part text-justify">
                                    Ecografía,
                                    Electrocardiografía,
                                    Audiometrías,
                                    Espirometrías,
                                    Radiología,
                                    Laboratorio Clínico de Especialidades.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h6-5.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="/home/servicios">Medicina General</a></h3>
                                <p class="desc-part text-justify">
                                    Se encarga de mantener la salud en todos los aspectos, analizando
                                    y estudiando el cuerpo humano en forma global.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h3-2.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="/home/servicios">Oftalmología</a></h3>
                                <p class="desc-part text-justify">
                                    Se encarga de estudiar las enfermedades de ojo y su tratamiento, incluyendo el globo ocular, su musculatura, el sistema lagrimal y los párpados.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 md-mb-80 col-md-6">
                    <div class="item-services active">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h2-2.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="/home/servicios">Psicología</a></h3>
                                <p class="desc-part text-justify">
                                    Se encarga de analizar los procesos mentales, el comportamiento de los seres humanos y sus interacciones con el ambiente físico, social, laboral, estudiantil, entre otros.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 sm-mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h2-3.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="/home/servicios">Ginecología</a></h3>
                                <p class="desc-part text-justify">
                                    Se encarga de la atención de las mujeres durante el embarazo y el parto, en el diagnóstico y tratamiento de enfermedades de los órganos reproductivos femeninos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 sm-mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h2-7.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="/home/servicios">Imagenenología</a></h3>
                                <p class="desc-part text-justify">
                                    Se encarga de crear imágenes del cuerpo humano con propósitos clínicos, (procedimientos médicos que buscan revelar, diagnosticar o examinar enfermedades).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-center mt-50">
                <a class="readon" href="/home/servicios">Más Servicios </a>
            </div>
        </div>
    </div>


    <!--rs-latest-part3-part end-->
    <!-- Search Modal End -->
    <!-- modernizr js -->
    <script src="~/lib/bootstrap_mederi/js/modernizr-2.8.3.min.js"></script>
    <!-- jquery latest version -->
    <script src="~/lib/bootstrap_mederi/js/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap_mederi/js/bootstrap.min.js"></script>
    <!-- wow js -->
    <script src="~/lib/bootstrap_mederi/js/wow.min.js"></script>
    <!-- rsmenu js -->
    <script src="~/lib/bootstrap_mederi/js/rsmenu-main.js"></script>
    <!---owlcarousel.min.js-->
    <script src="~/lib/bootstrap_mederi/js/owl.carousel.min.js"></script>
    <!---jquery.magnific-popup.min.js-->
    <script src="~/lib/bootstrap_mederi/js/jquery.magnific-popup.min.js"></script>
    <!-- counter top js -->
    <script src="~/lib/bootstrap_mederi/js/jquery.counterup.min.js"></script>
    <script src="~/lib/bootstrap_mederi/js/waypoints.min.js"></script>
    <!-- slick.min.js -->
    <script src="~/lib/bootstrap_mederi/js/slick.min.js"></script>
    <!-- main js -->
    <script src="~/lib/bootstrap_mederi/js/main.js"></script>
</body>
</html>