
@{
    ViewData["Title"] = "QuienesSomos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Mederi Centro Médico</title>
    <!-- favicon -->
    <link rel="apple-touch-icon" href="~/lib/bootstrap_mederi/apple-touch-icon.png">
    <link rel="shortcut icon" type="~/lib/bootstrap_mederi/image/x-icon" href="~/lib/bootstrap_mederi/images/fav.png">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/bootstrap.min.css">
    <!-- owlcarousel min css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/owl.carousel.min.css">
    <!--slick css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/slick.css">
    <!--slick-theme css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/slick-theme.css">
    <!-- flaticon css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/fonts/flaticon.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/font-awesome.min.css">
    <!-- rsmenu CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rsmenu-main.css">
    <!-- rsmenu transitions CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rsmenu-transitions.css">
    <!-- magnific-popup CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/magnific-popup.css">
    <!-- offcanvas CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/off-canvas.css">
    <!-- rsanimations CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rsanimations.css">
    <!-- spaceing css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rs-spaceing.css">
    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/responsive.css">
</head>
<body>
    <div class="rs-quality-services-part pt-175 pb-130 bg8 md-pt-125 md-pb-80">
        <div class="container">
            <div class="row rs-vertical-middle">
                <div class="col-lg-6 pr-25 md-pr-15 md-mb-50">
                    <div class="rs-best-medical-part">
                        <div class="img-part">
                            <img src="images/about/blue-bg2.png" alt="">
                            <div class="play-btn">
                                <a class="pulse-btn popup-videos" href="www.youtube.com/watch?v=YLN1Argi7ik"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pl-40 md-pl-15">
                    <div class="rs-services-part">
                        <div class="sec-title mb-20">
                            <h2 class="title pb-25 md-pb-15">Mederi Centro Médico</h2>
                            <div class="desc mb-30">Mederi Centro Medico, nació en abril del año 2012, sus propietarios y fundadores Dr. Carlos Bohórquez y Lcda. Patricia Domínguez, profesionales de gran trayectoria y alta calificación, iniciaron su gestión con la apertura de un Banco de Vacunas y Centro de vacunación  a nivel provincial. Actualmente cuenta con un Staff de Especialidades y servicios de diagnósticos complementarios.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pl-40 md-pl-15">
                    <div class="rs-services-part">
                        <div class="sec-title mb-20">
                            <h2 class="title pb-25 md-pb-15">Misión</h2>
                            <div class="desc mb-30"> Somos un centros medicos de especiliades, que contamos con atención médica general y de especilidad,laboratorio, radiologia, ecografia, medicina ocupacional y vacunas, basados en la calidad, excelencia, enqfoque al cliente, innovación y costos por que nos gusta cuidar tu salud y de quienes mas amas.									</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pl-40 md-pl-15">
                    <div class="rs-services-part">
                        <div class="sec-title mb-20">
                            <h2 class="title pb-25 md-pb-15">Visión</h2>
                            <div class="desc mb-30">
                                Ser el centro de especilidades médicas de la Amazonia enfocado en cuidar tu salud y de quienes mas amas.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rs-inner-services-item-part pt-130 pb-100 md-pt-80 md-pb-50">
        <div class="container">
            <div class="sec-title text-center pb-50 md-pb-30">
                <h2 class="title pb-15"> VALORES</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="item-services">
                        <div class="icon-part">
                            <img src="~/lib/bootstrap_mederi/images/valores/calidad.png" alt="">
                        </div>
                        <div class="services-desc">
                            <h3 class="title">Calidad		</h3>
                            <p class="desc-part">
                                Satisfacer las necesidades y expectativas de los clientes.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="item-services">
                        <div class="icon-part">
                            <img src="~/lib/bootstrap_mederi/images/valores/excelencia.png" alt="">
                        </div>
                        <div class="services-desc">
                            <h3 class="title">Excelencia 		</h3>
                            <p class="desc-part">
                                Sobrepasar los parametros predeterminados por el mercado referente a atención, calidad y precios.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="item-services">
                        <div class="icon-part">
                            <img src="~/lib/bootstrap_mederi/images/valores/enfoque.png" alt="">
                        </div>
                        <div class="services-desc">
                            <h3 class="title">Enfoque al cliente</h3>
                            <p class="desc-part">
                                La satisfacción del cliente es nuetro lineamiento general en todo los procesos
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="item-services">
                        <div class="icon-part">
                            <img src="~/lib/bootstrap_mederi/images/valores/inovacin.png" alt="">
                        </div>
                        <div class="services-desc">
                            <h3 class="title">Innovación		</h3>
                            <p class="desc-part">
                                Realizar un mejoramiento continuo de nuestros productos, procesos, metodos enfocados en satisfacer las expectativas del cliente
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="item-services">
                        <div class="icon-part">
                            <img src="~/lib/bootstrap_mederi/images/valores/costos.png" alt="">
                        </div>
                        <div class="services-desc">
                            <h3 class="title">Gestión de costos		</h3>
                            <p class="desc-part">
                                Planificar, evaluar y mejorar de forma continua la estructura de costos internos enfocados en generar beneficios al cliente
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--rs-expertise-part end-->
    <!--rs-our-qualified-doctor end-->
    <div class="rs-our-qualified-doctor pt-120 pb-100 md-pt-72 md-pb-50">
        <div class="container">
            <div class="sec-title pb-20 text-center md-pb-0">
                <h2 class="title pb-15">Nuestros Médicos</h2>
                <div class="desc">
                    Profesionales altamente calificados que realizan su trabajo con excelencia y dedicación pensando siempre en el bienestar del paciente
                </div>
            </div>
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="4" data-margin="30" data-autoplay="true" data-autoplay-timeout="7000" data-smart-speed="800" data-dots="false" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="3" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="4" data-md-device-nav="true" data-md-device-dots="false">
                <div class="item">
                    <div class="team-inner">
                        <div class="~/lib/bootstrap_mederi/images-part">
                            <img src=" ~/lib/bootstrap_mederi/images/team/1.jpg" alt="">
                        </div>
                        <div class="normal-text text-center">
                            <span class="person-name">Dr. Carlos Bohorquez></span>
                            <span class="designation">Dental Care</span>
                            <div class="social-icon mb-10">
                                <p></p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-inner">
                        <div class="~/lib/bootstrap_mederi/images-part ">
                            <img src=" ~/lib/bootstrap_mederi/images/team/2.jpg" alt="">
                        </div>
                        <div class="normal-text text-center">
                            <span class="person-name"><a href="doctor-single.html">Dr. Olivia</a></span>
                            <span class="designation">Urology</span>
                            <div class="social-icon mb-10">
                                <p></p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-inner">
                        <div class="~/lib/bootstrap_mederi/images-part ">
                            <img src=" ~/lib/bootstrap_mederi/images/team/3.jpg" alt="">
                        </div>
                        <div class="normal-text text-center">
                            <span class="person-name"><a href="doctor-single.html">Dr. Andrew</a></span>
                            <span class="designation">Orthopaedics</span>
                            <div class="social-icon mb-10">
                                <p></p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-inner">
                        <div class=" ~/lib/bootstrap_mederi/images-part ">
                            <img src="  ~/lib/bootstrap_mederi/images/team/4.jpg" alt="">
                        </div>
                        <div class="normal-text text-center">
                            <span class="person-name"><a href="doctor-single.html">Dr. William Jek</a></span>
                            <span class="designation">Cardiology</span>
                            <div class="social-icon mb-10">
                                <p></p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-inner">
                        <div class=" ~/lib/bootstrap_mederi/images-part ">
                            <img src="  ~/lib/bootstrap_mederi/images/team/5.jpg" alt="">
                        </div>
                        <div class="normal-text text-center">
                            <span class="person-name"><a href="doctor-single.html">Dr. William</a></span>
                            <span class="designation">Eye Care</span>
                            <div class="social-icon mb-10">
                                <p></p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-inner">
                        <div class="~/lib/bootstrap_mederi/images-part ">
                            <img src=" ~/lib/bootstrap_mederi/images/team/6.jpg" alt="">
                        </div>
                        <div class="normal-text text-center">
                            <span class="person-name"><a href="doctor-single.html">Dr. Humaira Hia</a></span>
                            <span class="designation">Gynecology</span>
                            <div class="social-icon mb-10">
                                <p></p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-inner">
                        <div class="~/lib/bootstrap_mederi/images-part ">
                            <img src=" ~/lib/bootstrap_mederi/images/team/7.jpg" alt="">
                        </div>
                        <div class="normal-text text-center">
                            <span class="person-name"><a href="doctor-single.html">Dr. Masud Rana</a></span>
                            <span class="designation">Neorology</span>
                            <div class="social-icon mb-10">
                                <p></p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-inner">
                        <div class="~/lib/bootstrap_mederi/images-part ">
                            <img src=" ~/lib/bootstrap_mederi/images/team/8.jpg" alt="">
                        </div>
                        <div class="normal-text text-center">
                            <span class="person-name"><a href="doctor-single.html">Dr. Nursat Jahan</a></span>
                            <span class="designation">medicine</span>
                            <div class="social-icon mb-10">
                                <p></p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-inner">
                        <div class="~/lib/bootstrap_mederi/images-part ">
                            <img src=" ~/lib/bootstrap_mederi/images/team/9.jpg" alt="">
                        </div>
                        <div class="normal-text text-center">
                            <span class="person-name"><a href="doctor-single.html">Dr. Sophia Croft </a></span>
                            <span class="designation">pediatric</span>
                            <div class="social-icon mb-10">
                                <p></p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Search Modal End -->
    <!-- modernizr js -->
    <script src="~/lib/bootstrap_mederi/js/modernizr-2.8.3.min.js"></script>
    <!-- jquery latest version -->
    <script src="~/lib/bootstrap_mederi/js/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap_mederi/js/bootstrap.min.js"></script>
    <!-- wow js -->
    <script src="~/lib/bootstrap_mederi/js/wow.min.js"></script>
    <!-- rsmenu js -->
    <script src="~/lib/bootstrap_mederi/js/rsmenu-main.js"></script>
    <!---owlcarousel.min.js-->
    <script src="~/lib/bootstrap_mederi/js/owl.carousel.min.js"></script>
    <!---jquery.magnific-popup.min.js-->
    <script src="~/lib/bootstrap_mederi/js/jquery.magnific-popup.min.js"></script>
    <!-- counter top js -->
    <script src="~/lib/bootstrap_mederi/js/jquery.counterup.min.js"></script>
    <script src="~/lib/bootstrap_mederi/js/waypoints.min.js"></script>
    <!-- slick.min.js -->
    <script src="~/lib/bootstrap_mederi/js/slick.min.js"></script>
    <!-- main js -->
    <script src="~/lib/bootstrap_mederi/js/main.js"></script>
</body>
</html>
