
@{
    ViewData["Title"] = "Servicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Mederi Centro Médico</title>
    <!-- favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/lib/bootstrap_mederi/images/fav.png">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/bootstrap.min.css">
    <!-- owlcarousel min css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/owl.carousel.min.css">
    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/slick.css">
    <!-- slick-theme css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/slick-theme.css">
    <!-- flaticon css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/fonts/flaticon.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/font-awesome.min.css">
    <!-- rsmenu CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rsmenu-main.css">
    <!-- rsmenu transitions CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rsmenu-transitions.css">
    <!-- offcanvas CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/off-canvas.css">
    <!-- rsanimations CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rsanimations.css">
    <!-- spaceing css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rs-spaceing.css">
    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/responsive.css">
</head>
<body>
    <!--breadcrumbs-inner-part start-->
    <!--rs-department-part start-->
    <div class="rs-quality-services-part pt-104 pb-104 bg8 md-pt-125 md-pb-80">
        <div class="container">
            <div class="sec-title pb-20 text-center md-pb-0">
                <h2 class="title pb-15">Servicios</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h2-5.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title "><a href="/home/servicios">Servicios de Apoyo </a></h3>
                                <p class="desc-part text-justify">
                                    Electrocardiografía, Audiometrías, Espirometrías, Radiología, Laboratorio Clínico de Especialidades.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h6-5.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="/home/servicios">Medicina General</a></h3>
                                <p class="desc-part text-justify">
                                    Se encarga de mantener la salud en todos los aspectos, analizando
                                    y estudiando el cuerpo humano en forma global.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 sm-mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h2-4.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="/home/servicios">Asistencia Ocupacional</a></h3>
                                <p class="desc-part text-justify">
                                    Exámenes ocupacionales (Comunícame la cantidad de texto debido a que esto va en la parte principal o simplemente se realizará un agendamiento directo)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h3-2.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="/home/servicios">Pediatría</a></h3>
                                <p class="desc-part text-justify">
                                    Se encarga de la atención médica integral desde el nacimiento hasta la adolescencia, ofreciendo servicios con altos estándares de calidad, procesos innovadores y con un equipo humano competente y comprometido con el paciente y su familia.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h3-2.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="/home/servicios">Oftalmología</a></h3>
                                <p class="desc-part text-justify">
                                    Se encarga de estudiar las enfermedades de ojo y su tratamiento, incluyendo el globo ocular, su musculatura, el sistema lagrimal y los párpados.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 md-mb-80 col-md-6">
                    <div class="item-services active">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h2-2.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="/home/servicios">Psicología</a></h3>
                                <p class="desc-part text-justify">
                                    Se enfoca en analizar los procesos mentales, el comportamiento de los seres humanos y sus interacciones con el ambiente, realizando en casos necesarios Terapias Grupales y Familiares.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 sm-mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h2-3.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="/home/servicios">Ginecología</a></h3>
                                <p class="desc-part text-justify">
                                    Se encarga de la atención de las mujeres durante el embarazo y el parto, en el diagnóstico y tratamiento de enfermedades de los órganos reproductivos femeninos y masculinos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 sm-mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h1-1.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="/home/servicios">Emergencia</a></h3>
                                <p class="desc-part text-justify">
                                    Saturación de heridas, tratamientos de menor complejidad, heridas leves, procedimientos que no necesitan de quirófano
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 sm-mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h2-7.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="/home/servicios">Imagenología</a></h3>
                                <p class="desc-part text-justify">
                                    Se encarga de crear imágenes del cuerpo humano con propósitos clínicos, Rayos X y Ecografía, (procedimientos médicos que buscan revelar, diagnosticar o examinar enfermedades).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="rs-quality-services-part pt-175 pb-130 bg8 md-pt-125 md-pb-80">
        <div class="container">
            <div class="sec-title pb-20 text-center md-pb-0">
                <h2 class="title pb-15">Servicios de Apoyo Diagnóstico</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/H6-2.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="#">Ecografía</a></h3>
                                <p class="desc-part text-justify">
                                    Prueba diagnóstica a través de la cual se emplean ondas sonoras de alta frecuencia para poder observar determinados órganos situados en el interior del cuerpo y que no se pueden visualizar directamente.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h2-8.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="#">Electrocardiografía</a></h3>
                                <p class="desc-part text-justify">
                                    Representación gráfica de la actividad eléctrica del corazón en función del tiempo, que se obtiene, desde la superficie corporal, en el pecho, con un electrocardiógrafo en forma de cinta continua.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h2-3.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="#">Audiometrías</a></h3>
                                <p class="desc-part text-justify">
                                    Evalúa su capacidad para escuchar sonidos. Los sonidos varían de acuerdo con el volumen o fuerza y con la velocidad de vibración de las ondas sonoras emitidas.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 md-mb-80 col-md-6">
                    <div class="item-services active">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h6-3.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="#">Espirometrías</a></h3>
                                <p class="desc-part text-justify">
                                    Técnica de exploración de la función respiratoria que mide los flujos y los volúmenes respiratorios, útiles para el diagnóstico y el seguimiento de patologías respiratorias.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 sm-mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h2-5.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="#">Radiología</a></h3>
                                <p class="desc-part text-justify">
                                    Genera imágenes del interior de nuestro cuerpo mediante diferentes agentes físicos obteniendo el pronóstico y el debido tratamiento de las enfermedades.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 sm-mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part">
                                <img src="~/lib/bootstrap_mederi/images/services/h2-7.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title"><a href="#">Laboratorio Clínico de Especialidades</a></h3>
                                <p class="desc-part text-justify">
                                    Servicio sanitario imprescindible en el diagnóstico para la toma adecuada de decisiones clínicas.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rs-contact-part pt-122 pb-130 md-pt-72 md-pb-80 bg14">
        <div class="container">
            <div class="sec-title pb-20 text-center md-pb-0">
                <h2 class="title pb-15">Otros Servicios</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part text-center">
                                <img src="~/lib/bootstrap_mederi/images/services/h6-5.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title text-center"><a href="#">Vacunas</a></h3>
                                <p class="desc-part text-justify">
                                    Preparaciones que se administran a las personas acorde a su necesidad para generar inmunidad activa y duradera contra una enfermedad, estimulando la producción y protección de defensas.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-80 col-md-6">
                    <div class="item-services">
                        <div class="item">
                            <div class="icon-part text-center">
                                <img src="~/lib/bootstrap_mederi/images/services/h2-4.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title text-center"><a href="#">Inyectología</a></h3>
                                <p class="desc-part text-justify">
                                    Procedimiento en el que se emplean los elementos corto-punzantes, el cual esta anexado a un tubo de almacenamiento que contiene medicamentos  y por el cual se aplica en diferentes tejidos corporales mediante la jeringa y una aguja de inyección.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 md-mb-80 col-md-6">
                    <div class="item-services active">
                        <div class="item">
                            <div class="icon-part text-center">
                                <img src="~/lib/bootstrap_mederi/images/services/h2-2.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title text-center"><a href="#">Sueroterapia</a></h3>
                                <p class="desc-part text-justify">
                                    Consiste en la administración de sueros específicos que favorecen la autocuración de nuestro organismo a partir de una selección de vitaminas, oligoelementos y fármacos biológicos naturales.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

