<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Mederi Centro Médico</title>
    <!-- favicon -->
    <link rel="apple-touch-icon" href="~/lib/bootstrap_mederi/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/lib/bootstrap_mederi/images/fav.png">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/bootstrap.min.css">
    <!-- owlcarousel min css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/owl.carousel.min.css">
    <!--slick css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/slick.css">
    <!--slick-theme css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/slick-theme.css">
    <!-- flaticon css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/fonts/flaticon.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/font-awesome.min.css">
    <!-- rsmenu CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rsmenu-main.css">
    <!-- rsmenu transitions CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rsmenu-transitions.css">
    <!-- magnific-popup CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/magnific-popup.css">
    <!-- offcanvas CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/off-canvas.css">
    <!-- rsanimations CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rsanimations.css">
    <!-- spaceing css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/rs-spaceing.css">
    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap_mederi/css/responsive.css">
    <style>


        .rs-footer-inner {
            background-color: #fff !important;
            color: #000000 !important;
        }

        .rs-footer-bottom {
            background-color: #aab2d8 !important;
            color: #303745 !important;
        }
        .footer-title h3 {
            color: #5c1662 !important;
        }
        
    </style>
</head>
<body>

    <!--Full width header Start-->
    <div class="full-width-header">
        <!--Header Start-->
        <header id="rs-header" class="rs-header home2style">
            <!-- Menu Start -->
            <div class="menu-area menu-sticky">
                <div class="container box-layout mt-0">
                    <div class="row rs-vertical-middle">
                        <div class="col-lg-3 col-12">
                            <div >
                                <a href="/home/index"><img src="~/lib/bootstrap_mederi/images/logomederi.png" alt="200" width="200"></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-12">
                            <div class="main-menu">
                                <div class="mobile-menu">
                                    <a class="rs-menu-toggle"><i class="fa fa-bars"></i></a>
                                </div>
                                <nav class="rs-menu left-align-menu">
                                    <ul class="nav-menu">
                                        <li class="rs-mega-menu mega-rs menu-item-has-children">
                                            <a href="/home/index">Inicio</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="/home/quienessomos">Quiénes Somos</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="/home/servicios">Servicios</a>
                                        </li>
                                        <li class="menu-item-has-children last-item">
                                            <a href="/home/contactanos">Contáctanos</a>
                                        </li>
                                        <!--Contact Menu End-->
                                    </ul> <!-- //.nav-menu -->
                                </nav>
                            </div> <!-- //.main-menu -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu End -->
   
        </header>
        <!--Header End-->
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--rs-partner-part end-->
    <!--rs-footer-inner start-->
    <div class="rs-footer-inner pb-100 md-pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="footer-section pt-100 md-pt-80">
                        <div >
                            <img src="~/lib/bootstrap_mederi/images/logomederi-02 (1).png" alt="150" width="150">
                        </div>
                    </div>
                </div>
                <div class="footer-section pt-100 md-pt-35">
                    <div class="footer-title">
                        <h3>Encuéntranos</h3>
                    </div>
                    <div class="recent-post-widget mb-20">
                        <div class="openingfoot">
                            <ul>
                                <li><a href="https://goo.gl/maps/Uhz7fFuzvatJ4XtY9" target="_blank"><i class="fa fa-globe"></i> Calle Jorge Rodríguez y Amazonas. Coca - Ecuador</a></li>
                                <li><a href="https://wa.me/593980552898"target="_blank"><i class="fa fa-phone"></i> 098 0552 898</a></li>
                                <li><a href="mailto:gerencia@saludmederi.com"><i class="fa fa-envelope"></i> gerencia@saludmederi.com</a></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer-section pt-100 md-pt-35">
                        <div class="footer-title">
                            <h3>Síguenos en:</h3>
                        </div>
                        <div class="social-icon">
                            <ul>
                                <li><a href="https://www.facebook.com/Centro-Medico-Mederi-BD-SA-109939497415204/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="rs-footer-bottom part">
       <div class="container">
          <div class="row">
               <div class="col-lg-12">
                     <div class="copy-right-part text-center">
                            <p>&copy; 2020 All Rights Reserved</p>
                      </div>
                </div>
          </div>
        </div>
</div>

                                <!-- Search Modal End -->
                                <!-- modernizr js -->
                                <script src="~/lib/bootstrap_mederi/js/modernizr-2.8.3.min.js"></script>
                                <!-- jquery latest version -->
                                <script src="~/lib/bootstrap_mederi/js/jquery.min.js"></script>
                                <!-- Bootstrap 4 -->
                                <script src="~/lib/bootstrap_mederi/js/bootstrap.min.js"></script>
                                <!-- wow js -->
                                <script src="~/lib/bootstrap_mederi/js/wow.min.js"></script>
                                <!-- rsmenu js -->
                                <script src="~/lib/bootstrap_mederi/js/rsmenu-main.js"></script>
                                <!---owlcarousel.min.js-->
                                <script src="~/lib/bootstrap_mederi/js/owl.carousel.min.js"></script>
                                <!---jquery.magnific-popup.min.js-->
                                <script src="~/lib/bootstrap_mederi/js/jquery.magnific-popup.min.js"></script>
                                <!-- counter top js -->
                                <script src="~/lib/bootstrap_mederi/js/jquery.counterup.min.js"></script>
                                <script src="~/lib/bootstrap_mederi/js/waypoints.min.js"></script>
                                <!-- slick.min.js -->
                                <script src="~/lib/bootstrap_mederi/js/slick.min.js"></script>
                                <!-- main js -->
                                <script src="~/lib/bootstrap_mederi/js/main.js"></script>
</body>
</html>